.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: " ";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background: rgb(231, 231, 129);
        color: black;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background:none;
        color: #fff;
    }
}
* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #F5F1E6;
    color: #7E7E7E;
    font-family: monospace;

    &.dark {
        background: rgb(44, 44, 44);
    }
}
#contenedor {
    width: 90%;
    margin: 0% auto;
}
header h1 {
    background-color: #ceb76c;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    color: #ffffff;
    border-bottom: 10px solid #ffffff;
    font-size: 50px;

    body.dark & {
        background-color: #4b4b4b;
        color: gray;
    }
}
.primer-span {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 9ch;
    transition: transform 0.3s ease-in-out;
    animation: write .5s steps(8), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes write {
    from { width: 0;}
}
@keyframes blink {
    0% {border: transparent;}
}
.primer-span:hover {
    transform: scale(1.05); 
}
.segundo-span {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 4ch;
    transition: transform 0.3s ease-in-out;
    animation: write .5s steps(4), blink .5s infinite step-end alternate;
    overflow: hidden;
}
.segundo-span:hover {
    transform: scale(1.05); 
}
.tercero-span {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    transition: transform 0.3s ease-in-out;
    animation: write 1s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}
.tercero-span:hover {
    transform: scale(1.05); 
}
nav {
    background-color: #eccc61;
    height: 50px;
    border-bottom: 5px solid #ffffff;


    body.dark & {
        background-color: rgb(31, 31, 31);
    }

}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px 0;
body.dark & {
    background-color: #292929;
    li {
        color: white;
    }

}
}
nav ul li {
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.clear {
    clear: both;
}
#contenido {
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background-color: white;
    padding: 40px;
    max-height: 500px; 
    overflow-y: auto; 
    
    body.dark & {
        background-color: #2c2c2c;
        color: rgb(146, 146, 146);
    }
}
div {
    background: #f1f1f1;

    body.dark & {
        background: rgb(59, 59, 59);
        h2, p {
            color: #f1f1f1;
        }
    }
}

.article {
    color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom:10px;
    border-bottom:10px solid #ceb76c;
    transition: transform 0.3s ease-in-out;

    body.dark & {
        border-bottom: 10px solid #4e4528;
    }
}
.article:hover {
    transform: scale(1.05); 
}
#busqueda{
    color: #2c2c2c;

    body.dark &{
        color: rgb(177, 177, 177);
    }
}

.article-content {
    display: flex; /* Alinear elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos en el contenedor */
}
.lamp {
    flex-shrink: 0; /* Evitar que la imagen se reduzca */
    margin-right: 10px;
}
.lamp-image {
    width: 40px; /* Ajusta el ancho según sea necesario */
    height: auto;
}
.article-text {
    flex-grow: 1; /* Permite que el contenido crezca y ocupe el espacio restante */
}
aside {
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    background-color: #ceb76c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    

    body.dark & {
        background: rgb(68, 68, 68);
        
}}
form {
    width: 100%;
    text-align: center;
    margin-top: 20px; 
}
input[type="text"],
input[type="submit"] {
    width: 80%;
    margin: 5px;
}
footer {
    background-color: #eccc61;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;

    body.dark & {
        background-color: #111111;
    }
}
